include ./pug/components/_head.pug
doctype html
html(lang="es") 
    +head("uso de grid para simular pinteres", "#FC1700", "urlico", "./css/styles.css", "urlcss2", "urlcss3", "urlfont1", "urlfont2", "grid images")
    body
        .pin_container
            .pin_container__card.card--small
            .pin_container__card.card--medium
            .pin_container__card.card--large
            .pin_container__card.card--small
            .pin_container__card.card--medium
            .pin_container__card.card--large
            .pin_container__card.card--small
            .pin_container__card.card--medium
            .pin_container__card.card--large
            .pin_container__card.card--small
            .pin_container__card.card--medium
            .pin_container__card.card--large
            .pin_container__card.card--small
            .pin_container__card.card--medium
            .pin_container__card.card--large
            .pin_container__card.card--small
            .pin_container__card.card--medium
            .pin_container__card.card--large
            .pin_container__card.card--small
            .pin_container__card.card--medium
            .pin_container__card.card--large
            .pin_container__card.card--small
            .pin_container__card.card--medium